.user-form {
  width: 100%;
  max-width: 500px;
  min-height: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.user-form>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-form p.errors,
.user-form .push-error {
  background: #400;
  color: red;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.8em;
}

.user-form .push-error {
  width: fit-content;
  padding: 20px;
  position: absolute;
  top: 20px;
  z-index: 2;
  opacity: 1;
  transition: all .3s ease;

  &.hidden {
    opacity: 0;
  }
}

.user-form label {
  font-size: .9em;
}

.user-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: none !important;
  color: #fff !important;
  border: 1px solid #8885;
  border-radius: 10px;
  font-family: inherit;
  margin-bottom: 10px;

  font-size: 110%;

  &.error {
    border-color: #900;
  }
}

.user-form .buttons {
  gap: 20px;

  a {
    color: var(--second);
    font-weight: 600;
    font-size: 0.85em;
  }
}