* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --fondo: #000; */
  --fondo: #020617;
  --second: #646cff;

  font-family: "Inter";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
}

button.boton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.input-effects {
  transition: all .3s ease;
}

button.boton:hover,
.input-effects:hover {
  border-color: #646cff;
}

button.boton:focus,
button.boton:focus-visible,
.input-effects:focus,
.input-effects:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1.main-title {
  font-size: 2.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1em;
}

#root>main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &>.main-title {
    margin-top: 30px;
  }
}

.icon {
  fill: #fff;
  --size: 1em;
  width: var(--size);
  height: var(--size);

  &.sm {
    --size: .8em;
  }

  &.lg {
    --size: 2.3em;
  }
}

.card-style {
  background: var(--fondo);
  border: 1px solid #8885;
  border-radius: 6px;
  overflow: hidden;
}

@media (width <=800px) {
  body {
    font-size: 95%;
  }
}